/*
 * %class% will be replaced with config value geshi.class
 * %some_color% will be replaced with config value geshi_col.some_color
 */
.%class% ol { padding:0 0 0 1.8em; margin:0; }
.%class% ol li { padding:0; margin:0; }
.%class% ol li::marker { font-size:75%; color: %fg_alt%; }
.%class% { color: %fg_def%; }
.%class% .br0 { color: %fg_def%; font-weight:bold; }
.%class% .co0, .%class% .co1 { color: %fg_alt%; font-style: italic; }
.%class% .co2, .%class% .co3 { color: %green_bold%; }
.%class% .co4 { color: %red_norm%; font-style: italic; }
.%class% .comulti { color: %fg_alt%; font-style: italic; }
.%class% .es0, .%class% .es_h, .%class% .es1 { color: %blue_norm%; }
.%class% .es2, .%class% .es3, .%class% .es4 { color: %magenta_norm%; }
.%class% .es5 { color: %cyan_norm%; }
.%class% .es6 { color: %green_norm%; }
.%class% .kw1 { color: %yellow_norm%; font-weight: bold; }
.%class% .kw10, .%class% .kw11, .%class% .kw12 { color: %blue_norm%; font-weight: bold; }
.%class% .kw2, .%class% .kw4 { color: %green_norm%; }
.%class% .kw3, .%class% .kw5, .%class% .kw7 { color: %green_bold%; }
.%class% .kw6 { color: %cyan_norm%; }
.%class% .kw8 { color: %yellow_norm%; }
.%class% .kw9 { color: %blue_norm%; }
.%class% .me0, .%class% .me1, .%class% .me2 { color: %green_norm%; }
.%class% .nu0 { color: %cyan_bold%; }
.%class% .nu1 { color: %red_norm%; }
.%class% .nu2, .%class% .nu6, .%class% .nu12, .%class% .nu16, .%class% .nu17, .%class% .nu18, .%class% .nu19 { color: %cyan_norm%; }
.%class% .nu8, .%class% .nu9 { color: %red_norm%; }
.%class% .re0 { color: %blue_norm%; }
.%class% .re1 { color: %red_norm%; }
.%class% .re2, .%class% .re3 { color: %red_bold%; }
.%class% .re4 { color: %cyan_norm%; }
.%class% .re5 { color: %magenta_norm%; }
.%class% .sc-1, .%class% .sc-2 { color: %green_bold%; font-style: italic; }
.%class% .st0, .%class% .st_h { color: %red_norm%; }
.%class% .sy0, .%class% .sy4 { color: %yellow_bold%; }
.%class% .sy1 { color: %green_norm%; }
.%class% .sy2, .%class% .sy3 { color: %blue_bold%; }
.%class% .sy5, .%class% .sy6 { color: %green_norm%; }
